---
import AppHero from "@hero/AppHero";
import Layout from "@layouts/Layout.astro";
import { reviews } from "@reviews/data";
import Reviews from "@reviews/Reviews";
import { screenshots } from "@screenshots/data";
import ScreenshotsSection from "@screenshots/ScreenshotsSection";
import { fetchStoreData } from "@utils/fetchStoreData";
import { appData as siteConfig } from "../data";

const storeData = await fetchStoreData();

const appData = {
	name: storeData.name || siteConfig.name,
	description: storeData.description || siteConfig.description,
	logo: storeData.logo || siteConfig.logo,
	storeLinks: storeData.storeLinks || siteConfig.storeLinks,
	rating: storeData.rating || siteConfig.rating,
	ageRating: storeData.ageRating || siteConfig.ageRating,
	version: storeData.version || siteConfig.version,
	minimumOS: storeData.minimumOS || siteConfig.minimumOS,
	releaseDate: storeData.releaseDate || siteConfig.releaseDate,
	screenshots: storeData.screenshots || screenshots,
};

const title = `${appData.name} - Modern Mobile App Landing Page Template`;
const pageDescription = `${appData.description} Download now for iOS and Android.`;
---

<Layout title={title} description={pageDescription} appData={appData}>
  <main class="min-h-screen py-8 container mx-auto px-3 md:px-6">
    <AppHero 
      title={appData.name} 
      description={appData.description} 
      storeLinks={appData.storeLinks} 
      logo={appData.logo}
      rating={appData.rating}
      ageRating={appData.ageRating}
      version={appData.version}
      minimumOS={appData.minimumOS}
      releaseDate={appData.releaseDate}
      client:load 
    />
    <ScreenshotsSection images={appData.screenshots} client:load />
    <Reviews items={reviews} client:visible />
  </main>
</Layout>
